# Env
NODE_ENV = Complete with the nodejs enviroment

# Port
PORT = Complete with port

# Log
LOG_LEVEL = Complete with the logger level

# Mapbox
MAPBOX_API_KEY = Complete with the mapbox api key

# Open Weather Map
OPENWEATHERMAP_API_KEY = Complete with the open weather map api key